/*Homepage CSS*/

#associated {
	text-align: center;
/*	text-shadow:.1em .1em black;
*/	font-weight: 600;
	font-size: 18px
}

#italics {
	font-style: italic;
}

.cityName:hover {
	-ms-transform: translate(3px, 0px); 
    -webkit-transform: translate(3px, 0px); 
    transform: translate(3px, 0px);
}

.cityName {
	font-size: 72px;
	font-family: 'Lobster', cursive;
	color: #FFFFFF;
	text-shadow:1px 1px black;
	text-align: center;
	padding-bottom: 40px;
	width: 100%;

}

.cities{
	position: fixed;
	background-color: #00b4ae;
	height: 100%;
	width: 100%;
	padding:30px;
	overflow: scroll
}

.cityWell input {
	text-align: center;
}

.cities h2{

font-size: 48px;
font-family:'Lobster', cursive;
color:#000;
text-align:center;
padding-bottom: 10px

}

.btn{

	padding:0 50 50 50px;
	width: 145px;
	text-align: center;
	display: inline-block
}

#mainWell {
	width: 100%;
	text-align: center;
	margin: auto;
	height: 305px;
	margin-bottom: 30px
}

.cityWell {
	width:100%;
	padding: 10px 10px;
	margin: auto

}

.btnCity {
	padding-top: 15px
}

/*Homepage CSS End*/

a:link {
	text-decoration: none
}

/*Tip Calc CSS Begin*/

#mainTitle {
	font-size: 72px;
	font-family: 'Lobster', cursive;
	color: #FFFFFF;
	text-shadow:1px 1px black;
	text-align: center;
	padding-bottom: 20px;
	width: 110%;
}


h3 {
	text-align: center;
	font-weight: 800
}



label {
	color: black;
	font-size: 20px
}

legend {
	font-size: 40px;
	text-shadow: 1px 1px yellow;
}

form input {
	color: black;
	font-weight: 900
}



#total {
	font-weight: 900;
	font-size: 30px;
	color:red;
}

/*Tip Calc CSS End*/